.sobre-container{
 background-color: blueviolet;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 flex: 1;
}
.image{
   width: 20%;
   height: 40%;
   border-radius: 50%;
   position: absolute;
}
.sobre-container h1 {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
    
}
